body{background-image: url('https://www.planwallpaper.com/static/images/518164-backgrounds.jpg');}
h1{

}
.main-container {
	align: center;

}
.goal-container {border: 1px solid black;margin-bottom: 8px;width: 90%;text-align: left;margin-left: auto;margin-right: auto;border-radius: 7px;background-color: rgba(255, 255, 255, .5);border-left: 20px solid  #FF3333;box-shadow: 0 5px 14px -2px grey;position: relative;height: 199px;}
.goal-container:hover {
    transform: scale(1.05, 1.05);
}
.goal-name {/* display: inline; */width: 80%;text-align: center;}
.short-goals {

}
.updates{

}
.secondary-container{
	
}
.new-goal-button {font-size: 1.6em;}
.username{
	font-size: 30px;
	margin-left: 5%;
}
.goal-button{
	left: 67%;
}

.update-class{display: none;}

.view-updates-class{
	display: none;
}
.short-goal-class{
	display: none;
}
.delete-button{
	display: inline;
	left: 86%;
	position: relative;
	top: -4.5em;
}
.submit-data{

}
.navbar{display: block;height: 40p;background-color: aqua;}
.nav{display: inline;}
.nav li{
	display: inline;
}
@media only screen and (min-device-width : 375px) and (max-width: 667px) {
	.goal-container {
		height: 200px;
	}
}



